<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewPDF"></activity>
        <activity android:name=".PdfUpload" />
        <activity android:name=".TpoPage" />
        <activity android:name=".Image_Upload" />
        <activity android:name=".Student_Login" />
        <activity android:name=".Student_Register" />
        <activity android:name=".Home_Page" />
        <activity android:name=".Tpo_Login" />
        <activity android:name=".Tpo_Register" />
        <activity android:name=".Module">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Admin_Login" />
        <activity android:name=".Admin_Register" />
        <activity android:name=".Admin_Page" />
    </application>

</manifest>